body
{
    margin:0px; padding:0px;
	background-image: url("globalBG.png")
}

#fl_menu
{
    position: absolute; 
	top: 50px; 
	left: 0px; 
	z-index: 9999; 
	width: 250px; 
	height: 50px;
}

#fl_menu .label
{
    padding-left: 20px; 
	line-height: 50px; 
	font-family: "Arial Black", Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	background: #000; 
	color: #fff; 
	letter-spacing: 7px; 
	cursor: pointer;
}

#fl_menu .menu
{
    display: none;
}

#fl_menu .menu .menu_item
{
    display: block; 
	background: #000; 
	color: #bbb; 
	border-top: 1px solid #333; 
	padding: 10px 20px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none;
}

#fl_menu .menu a.menu_item:hover
{
    background: #333; 
	color: #fff;
}

.content
{
    width:520px; margin:50px auto;
}



.DisplayR
{
    display: inline;
    float: left;
    width: 27%;
	padding: 20px;
    margin: 1%;
	margin-bottom: 20px;
	height: 600px;
	border-radius: 25px;
	overflow-y: auto;
    background-image: url("elementBG.png");
	font-family: Arial;
	font-size: 12pt;
}

#info
{
	margin-left: 1%;
	background-image: url("infoBG.png");
	overflow-y: auto;
	border-radius: 25px;

}



#title
{
	float: left;
	padding-left: 20px;
	font-family: Arial;
	font-size: 25pt;
	width: 50%;
}



#textbody
{
	padding: 20px;
	float: left;
	width: 60%;
}



#sideimage
{
	float: right;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 50px;
	
}

.clear
{
	clear: both;
}



#page-container
{
    float: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	height: 1200px;
	overflow: auto;
	display: block;
	background-image: url("pageBG.png");
}