body
{
    margin:0px; 
	padding:0px;
	background-image: url("globalBG.png");
}

#mainmenu
{
	margin: 0px;
	margin-bottom: 10px;
	padding: 6px;
    height: 60px;
	width: 100%;
	background-image: url("headerBG.png");
}

.RDGbutton
{
	cursor: pointer;
	display: table;
	height: 50px;
	width: 200px;
	background-image: url("buttonBG.png");
	border-radius: 10px;
}



#RDGtext
{
	display: table-cell;
	font-family: "Arial Black", Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	color: #fff; 
	letter-spacing: 7px; 
	vertical-align: middle;
	text-align: center;
}



.DisplayR
{
    display: inline;
    float: left;
    width: 27%;
	padding: 20px;
    margin: 1%;
	margin-bottom: 20px;
	height: 600px;
	border-radius: 25px;
	overflow-y: auto;
    background-image: url("elementBG.png");
	font-family: Arial;
	font-size: 12pt;
}

#info
{
	margin-left: 1%;
	background-image: url("infoBG.png");
	overflow-y: auto;
	border-radius: 25px;

}



#title
{
	float: left;
	padding-left: 20px;
	font-family: Arial;
	font-size: 25pt;
	width: 50%;
}



#textbody
{
	padding: 20px;
	float: left;
	width: 60%;
}



#sideimage
{
	float: right;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 50px;
	
}

.clear
{
	clear: both;
}



#page-container
{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	height: 1300px;
	overflow: auto;
	display: block;
	background-image: url("pageBG.png");
}