body
{
    margin:0px; 
	padding:0px;
	background-image: url("globalBG.png");
}

.btnoutline
{
		border-color: green;
		border-weight: 2px;
		border-style: solid;
}



#tumblrbtn
{
	cursor: pointer;
	float: left;
	margin-left: 40%
}



#redditbtn
{
	cursor: pointer;
	float: left;
	margin-left: 2%;


}




#mainmenu
{
	margin: 0px;
	margin-bottom: 10px;
	padding: 6px;
    height: 60px;
	width: 100%;
	background-image: url("headerBG.png");
}

.RDGbtn
{
	cursor: pointer;
	display: table;
	float: left;
	height: 50px;
	width: 200px;
	background-image: url("buttonBG.png");
	border-radius: 10px;
}



#RDGtxt
{
	display: table-cell;
	font-family: "Arial Black", Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	color: #fff; 
	letter-spacing: 7px; 
	vertical-align: middle;
	text-align: center;
}

.advbtn
{
	margin-left: 7%;
	cursor: pointer;
	display: table;
	float: left;
	height: 50px;
	width: 200px;
	background-image: url("buttonBG.png");
	border-radius: 10px;
}



.btntxt
{
	display: table-cell;
	font-family: "Arial Black", Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	color: #fff; 
	letter-spacing: 7px; 
	vertical-align: middle;
	text-align: center;
}

.group
{
    display: inline;
    float: left;
    width: 29%;
	margin-top: 1%;
    margin-left: 2%;
	margin-bottom: 20px;
    background-image: url("elementBG.png");
	border-radius: 25px;
	height: 730px;
	padding: 10px;
}


.DisplayR
{
	padding: 20px;
	background-image: url("infoBG.png");
	overflow-y: auto;
	height: 600px;
	font-family: Arial;
	font-size: 12pt;
	border-radius: 5px;
}

#info
{
	margin-left: 1%;
	background-image: url("infoBG.png");
	overflow-y: auto;
	border-radius: 25px;

}



#title
{
	float: left;
	padding-left: 20px;
	font-family: Arial;
	font-size: 25pt;
	width: 50%;
}



#textbody
{
	padding: 20px;
	float: left;
	width: 60%;
}



#sideimage
{
	float: right;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 50px;
	
}

.clear
{
	clear: both;
}



#page-container
{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	height: 1500px;
	overflow: auto;
	display: block;
	background-image: url("pageBG.png");
}